<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to https://vamsibellam.com/</title>
<meta http-equiv="refresh" content="0; URL=https://vamsibellam.com/">
<link rel="canonical" href="https://vamsibellam.com/">


<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
